// Fontes
$fontePrincipal: Roboto, sans-serif;

// Esquemas de cores
$corDeFundo: #f5f6fa;
$corHeader: #182C61;
$corPrincipalBotao: #44bd32;
$corSecundariaBotao: #4cd137;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;